.column {
  float: left;
  margin: 10px;
  border: solid;
}

#map {
  border: solid;
  width: 80%;
  /* width: 95%;
  margin-left: auto;
  margin-right: auto; */
}

#filter {
  width: 15%;
  padding: 10px;
}

/* overlays svg on top of img */
#map svg {
  position: absolute;
  top: 0;
  left: 0;
}

#map img {
   display: block;
   max-width: 100%;
   height: auto;
}

#compare {
  margin-right: 5px;
}
